body{
    background-color:rgb(101, 101, 156);

}
#navdiv{
    background-color: #ebcd39;
    height:7vh;
    align-items:center;
    justify-content:flex-start;
    margin-top: -6px;
}

nav{
    display:flex;
    list-style: none;
    text-decoration: none;
    /* align-items:center;
    justify-content:flex-start; */
    padding:5px;
    margin-left: 949px;
    
}

li a{
    padding:25px;
    justify-content: center;
}

#logo{
    margin-left: -1276px;
    margin-top: 2px;
    justify-content: center;
    text-decoration: none;
}

.section{
    height:600px;
    background-color: rgb(193 176 114);

}

#firstpic{
   
    height: 292px;
    margin-top: 143px;
    margin-left: 20px;
    width: 237px;
}
#wlcm{
    font-size:3rem;
    margin-left: 500px;
}

.subsection{
    background-color: #241f1f;
    height: 299px;
    width: 1000px;
    margin-left: 433px;
    margin-top: -307px;
    color:white;
    text-align:center;
}

#about{
    margin-top: 60px;
    font-size: 1.3rem;
}

#aboutme{
margin-top: px;
}


/* design of services section */

.services{
height:300px;
background-color: aquamarine;
/* opacity: 0.7; */
margin-top: -86px;
}

.col1{
    background-color: #07b3a3;
    width: 350px;
    height:250px;
    margin-left: 10px;
    margin-top: 100px;

}
.col2{
    width: 412px;
    height:250px;
    background-color: rgb(157, 18, 18);
    margin-left: 482px;
    margin-top: -227px;
}
.col3{
    width: 450px;
    height:250px;
    background-color: rgb(6, 139, 95);
    margin-left:1000px;
    margin-top: -250px;
}

#col1img{
    width: 350px;
    height:250px;
    margin-top: 10px;
}

#col2img{
    width: 413px;
    height: 233px;
    margin-top: 10px;
}

#col3img{
    width: 450px;
    height:230px;
    margin-top: 10px;
}

#servicetxt{
    margin-left: 700px;
    font-family: ui-monospace;
    font-size: 30px;
    font-weight: bolder;
}

.passion{
    background-color: brown;
    height:400px;
}

@media only screen and (max-width:600px){
    
}











.photography{
   
    background-color: green;
    width: 393px;
    height: 261px;
    margin-top:30px;
    
}


#camera{
    width: 393px;
    height: 230px;
    margin-top: -15px;

}

    

.filmmaking{
   
    background-color: white;
    width: 393px;
    height: 259px;
    margin-left: 523px;
    /* margin-left: 950px; */
    margin-top: -279px;
  
  
}

#myvideo{
    width: 390px;
    height: 230px;
    margin-top: -20px;


}


.singing{
    background-color: sienna;
    width: 393px;
    height: 259px;
    /* margin-left: 523px; */
    margin-left: 950px;
    margin-top: -261px;
    float:left;

  

}

#singingtxt{
    margin-top:5px;
}

#micimage{
    width: 390px;
    height: 230px;
    margin-top: -20px;
    float:left;


}

/* 
------------------------contact section design----------- */

.contact{
    background-color: rgb(80, 80, 139);
    height: 400px;
}

.form{
    background-color: #c7af3b;
    height: 288px;
    font-size: 1.8rem;
    width: 1000px;
    margin-left: 300px;
    justify-content: center;
    display: flex;
    align-items: center;
    margin-top: 40px;

}

#btn{
    font-size: 1.5rem;
    text-align: center;
    justify-content: center;
    margin-left: 350px;
}

#contact{
    text-align: center;
}